<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ripetizioni</title>
    <link rel="icon" href="icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/logIn_style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="js/confermaView.js"></script>
    <script type="text/javascript" src="js/docentiView.js"></script>
    <script type="text/javascript" src="js/prenotazioniView.js"></script>
    <script type="text/javascript" src="js/materieView.js"></script>
    <script type="text/javascript" src="js/docenteMateriaView.js"></script>
    <script type="text/javascript" src="js/logIn.js"></script>
</head>

<header class="header-fixed">
    <div id="header-wrap" class="header-dark">
        <nav class="header-dark navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container">
                <button class="nav-btn navbar-brand" onclick="changeViewPrenota()">Ripetizioni</button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav form-inline mr-auto">
                        <li class="nav-item" role="presentation" v-if="userType !== 'amministratore'"><button class="nav-btn nav-link" onclick="changeViewPrenota()">Prenota</button></li>
                        <li class="nav-item" role="presentation" v-if="userType === 'amministratore'"><button class="nav-btn nav-link" onclick="changeViewPrenota()">Materie</button></li>
                        <li class="nav-item" role="presentation" v-if="userType === 'cliente' || userType === 'amministratore'"><button class="nav-link nav-btn" onclick="changeViewPrenotazioni()">Prenotazioni</button></li>
                        <li class="nav-item" role="presentation" v-if="userType === 'amministratore'"><button class="nav-link nav-btn" onclick="docentiView()" >Docenti</button></li>
                    </ul>
                    <div v-if="userType === 'ospite'">
                        <span class="navbar-text"><button onclick="onLogInClick()" class="login nav-btn nav-link">Log In</button></span>
                        <button class="btn-prenota btn" onclick="onSignUpClick()">Sign Up</button>
                    </div>
                    <div v-if="userType === 'cliente' || userType === 'amministratore'">
                        <span class="navbar-text">{{ userEmail }}</span>
                        <button class="logout-btn btn" onclick="logOut()">LogOut</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

<body>
<div id="app">
    <div class="container">
        <h2 class="page-title">{{ pageTitle }}</h2>
        <div v-if="currentView === 'prenota'" id="prenota">
            <div class="col btn-aggiungi" v-if="vueHeader.userType === 'amministratore'">
                <button class="btn btn-prenota" onclick="aggiungiMateriaView()">Aggiungi Materia</button>
            </div>
            <ul class="responsive-table" id="lista-materie">
                <li class="table-header">
                    <div class="col">Materia</div>
                    <div class="col mid-col">Insegnanti</div>
                    <div class="col col-3"></div>
                </li>
            </ul>
        </div>
        <div v-if="currentView === 'prenotazioni'" id="prenotazioni">
            <ul class="responsive-table" id="lista-prenotazioni">
                <li class="table-header">
                    <div class="col-margin col col-2">Materia</div>
                    <div class="col-margin col col-2">Insegnante</div>
                    <div class="col-margin col col-2">Data</div>
                    <div class="col-margin col col-2"></div>
                </li>
            </ul>
        </div>

        <div v-if="currentView === 'docente'" id="docenti">
            <div class="col btn-aggiungi" v-if="vueHeader.userType === 'amministratore'"><button class="btn btn-prenota" onclick="aggiungiDocenteView()">Aggiungi Docente</button></div>
            <ul class="responsive-table" id="lista-docenti">
                <li class="table-header">
                    <div class="col">docente</div>
                    <div class="col mid-col">Materie</div>
                    <div class="col col-3"></div>
                </li>
            </ul>
        </div>

        <div class="content container row align-items-stretch justify-content-center no-gutters" v-if="currentView === 'confermaPren'">
            <div class="col-md-7 form-prenota">
                <h3 class="text-center">Conferma Prenotazione</h3>
                <form class="mb-5" method="get" id="contactForm conferma-form" name="contactForm" novalidate="novalidate" onsubmit="return validateFormConferma()">
                    <div class="ol-md-12 form-group mb-3">
                        <label class="col-form-label">Materia:</label><br>
                        <label id="confermaViewMateria">{{ materia }}</label>
                    </div>
                    <div class="ol-md-12 form-group mb-3">
                        <label for="selectInsegnante" class="col-form-label" >Insegnante:</label><br>
                        <select id="selectInsegnante" onclick="onConfermaViewClick()">
                            <option value="empty"></option>
                        </select>
                    </div>
                    <div class="ol-md-12 form-group mb-3">
                        <label for="selectGiorno" class="col-form-label" >Giorno:</label><br>
                        <select id="selectGiorno" onclick="onConfermaViewClick()">
                            <option value="empty"></option>
                        </select>
                    </div>
                    <div class="row center-row">
                        <div class="col-md-12 form-group mb-3" id="checkboxes" >
                            <label class="col-form-label">Orario:</label>
                            <ul id="checkOra">
                            </ul>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-5 form-group text-center">
                            <button type=submit value="Prenota" class="btn btn-prenota btn-input">Prenota</button>
                            <span class="submitting"></span>
                        </div>
                    </div>
                    <p id="lbl-state-prenota" class="state-text"></p>
                </form>
            </div>
        </div>

        <div class="content" v-if="currentView === 'aggiungiMateria'">
            <div class="container row align-items-stretch justify-content-center no-gutters ">
                <div class="col-md-7">
                    <div class="form-prenota">
                        <h3 class="text-center">Aggiungi Materia</h3>
                        <form class="mb-5" method="get" name="contactForm" novalidate="novalidate" onsubmit="return validateFormAggMateria()">
                            <div class="ol-md-12 form-group mb-3">
                                <div class="ol-md-12 form-group mb-3">
                                    <label for="nuovaMateria" class="col-form-label">Materia:</label><br>
                                    <input id="nuovaMateria" type="text"/>
                                </div>
                            </div>
                            <div class="ol-md-12 form-group mb-3">
                                <div class="ol-md-12 form-group mb-3">
                                    <label for="descrizione" class="col-form-label">Descrizione:</label><br>
                                    <textarea id="descrizione" name="story" rows="5" cols="33"></textarea>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-5 form-group text-center">
                                    <button type=submit value="materia" class="btn btn-prenota btn-input">Aggiungi</button>
                                    <span class="submitting"></span>
                                </div>
                            </div>
                            <p id="lbl-state-materia" class="state-text"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content" v-if="currentView === 'aggiungiDocente'">
        <div class="container row align-items-stretch justify-content-center no-gutters ">
            <div class="col-md-7">
                <div class="form-prenota">
                    <h3 class="text-center">Aggiungi Docente</h3>
                    <form class="mb-5" method="get" name="contactForm" novalidate="novalidate" onsubmit="return validateFormAggDocente()">
                        <div class="ol-md-12 form-group mb-3">
                            <div class="ol-md-12 form-group mb-3">
                                <label for="docenteNome" class="col-form-label">Nome:</label><br>
                                <input id="docenteNome" type="text"/>
                            </div>
                        </div>
                        <div class="ol-md-12 form-group mb-3">
                            <div class="ol-md-12 form-group mb-3">
                                <label for="docenteCognome" class="col-form-label">Cognome:</label><br>
                                <input id="docenteCognome" type="text"/>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-5 form-group text-center">
                                <button type=submit value="docente" class="btn btn-prenota btn-input">Aggiungi</button>
                                <span class="submitting"></span>
                            </div>
                        </div>
                        <p id="lbl-state-docente" class="state-text"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="content" v-if="currentView === 'aggiungiDocenteMateria'">
        <div class="container row align-items-stretch justify-content-center no-gutters ">
            <div class="col-md-7">
                <div class="add-remove-button">
                    <button onclick="setAggiungiView()">Inserisci</button>
                    <button onclick="setRimuoviView()">Rimuovi</button>
                </div>
                <div v-if="aggRim === 'aggiungi'" class="form-prenota">
                    <h3 class="text-center">Inserisci Docente</h3>
                    <form class="mb-5" method="get" name="contactForm" novalidate="novalidate" onsubmit="return validateFormAggDocMat()">
                        <div class="ol-md-12 form-group mb-3">
                            <div class="ol-md-12 form-group mb-3">
                                <label class="col-form-label">Materia:</label><br>
                                <label class="">{{ materia }}</label>
                            </div>
                        </div>
                        <div class="ol-md-12 form-group mb-3">
                            <div class="ol-md-12 form-group mb-3">
                                <label for="selectDocente" class="col-form-label" >Insegnante:</label><br>
                                <select id="selectDocente">
                                    <option value="empty"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-5 form-group text-center">
                                <button type=submit value="matDoc" class="btn btn-prenota btn-input">Aggiungi</button>
                                <span class="submitting"></span>
                            </div>
                        </div>
                        <p id="lbl-state-mat-doc" class="state-text"></p>
                    </form>
                </div>

                <div v-if="aggRim === 'rimuovi'" class="form-prenota">
                    <h3 class="text-center">Rimuovi Docente</h3>
                    <form class="mb-5" method="get" name="contactForm" novalidate="novalidate" onsubmit="return validateFormRimDocMat()">
                        <div class="ol-md-12 form-group mb-3">
                            <div class="ol-md-12 form-group mb-3">
                                <label class="col-form-label">Materia:</label><br>
                                <label class="">{{ materia }}</label>
                            </div>
                        </div>
                        <div class="ol-md-12 form-group mb-3">
                            <div class="ol-md-12 form-group mb-3">
                                <label for="selectDocenteRim" class="col-form-label" >Insegnante:</label><br>
                                <select id="selectDocenteRim">
                                    <option value="empty"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-5 form-group text-center">
                                <button type=submit value="matDoc" class="btn btn-prenota btn-input">Rimuovi</button>
                                <span class="submitting"></span>
                            </div>
                        </div>
                        <p id="lbl-state-mat-doc2" class="state-text"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="content loginBox" v-if="currentView === 'login'">
        <div id="logInBody">
            <div class="container-logIn">
                <div class="forms-logIn">
                    <div role="form" class="form-logIn login">
                        <span class="title">Log In</span><br>
                        <label id="testlabel" for="loginEmail" class="label">Email *</label>
                        <div class="input-field">
                            <input type="text" placeholder="Email" required id="loginEmail" aria-required="true"
                                   autocomplete="email" aria-label="Email" aria-invalid="false" aria-labelledby="testlabel">
                            <em class="uil uil-envelope icon"></em>
                        </div>
                        <label id="testlabel2" for="loginPassword" class="label">Password *</label>
                        <div class="input-field">
                            <input type="password" class="password" placeholder="Password" required id="loginPassword"
                                   autocomplete="current-password" aria-required="true" aria-label="Password *" aria-invalid="false">
                            <em class="uil uil-lock icon"></em>
                            <em class="uil uil-eye-slash showHidePw"></em>
                        </div>
                        <div class="input-field button-logIn">
                            <button class="btnLogIn" value="Login" onclick="logIn()">LogIn</button>
                        </div>
                        <div role="region" aria-live="polite" aria-describedby="lbl-status" id="val1">
                            <p id="lbl-status" class="state-text"></p>
                        </div>
                        <div class="login-signup">
                            <span class="text">Non sei registrato?
                                <a href="registrazione.html" class="text signup-link"><u>Registrati Ora</u></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let vueHeader = new Vue({
        el: '#header-wrap',
        data: {
            userEmail: "",
            userType: "ospite"
        }
    })

    let vue = new Vue({
        el: '#app',
        data: {
            currentView: 'prenota',
            materia: "",
            pageTitle: "Prenota",
            aggRim: 'aggiungi',
            dataContainer: [],
            dataContainer2: '',
            vueHeader: vueHeader
        },
        mounted(){
            authenticate();
        },
        updated(){
            if(vue.currentView === 'login'){
                $.get("authenticate", {}, function (data){
                    if(data !== '401'){
                        location.href = "index.html";
                    }
                });

                var html = document.querySelector("html");
                html.classList.add("login-view");
            }else{
                var html = document.querySelector("html");
                html.classList.remove("login-view");
            }
            if(vue.currentView === 'prenota' && vueHeader.userType === 'amministratore'){
                vue.pageTitle = 'Materie';
            }else if(vue.currentView === 'prenota'){
                vue.pageTitle = 'Prenota';
            }else if(vue.currentView === 'docente'){
                loadDocentiViewData();
            }else if(vue.currentView === 'aggiungiDocenteMateria'){
                if(vue.aggRim === 'aggiungi'){
                    addDocMat(vue.dataContainer);
                }else{
                    rimDocMat(vue.dataContainer2.split(","));
                }
            }
        }
    })

    const type = window.location.hash.slice(1);
    if(type === "login"){
        onLogInClick();
    }else if(type === "signup"){
        const params = new URLSearchParams(window.location.search)
        $.post('signUp', {
            nome: params.get("nome"),
            cognome: params.get("cognome"),
            email: params.get("email"),
            password: params.get("password")
        }, function (data) {
            if (data === "200") {
                executeLogIn(params.get("email"), params.get("password"));
            }
        });
    }else{
        changeViewPrenota();
    }

    function changeViewPrenota(){
        vue.currentView = "prenota";
        setMaterieData();
    }

    function setAggiungiView(){
        vue.aggRim = "aggiungi";
    }

    function setRimuoviView(){
        vue.aggRim = "rimuovi";
    }

    function changeViewPrenotazioni(){
        vue.pageTitle = "Prenotazioni";
        vue.currentView = "prenotazioni";
        getPrenotazioni();
    }

    function aggiungiMateriaView(){
        vue.currentView = 'aggiungiMateria';
    }

    function docentiView(){
        vue.currentView = 'docente';
        vue.pageTitle = 'Docenti';
    }

    function aggiungiDocenteView(){
        vue.currentView = "aggiungiDocente";
    }

    function changeDocenteMateriaView(materia, insegnanti){
        vue.currentView = "aggiungiDocenteMateria";
        vue.aggRim = 'aggiungi';
        vue.materia = materia;
        vue.dataContainer2 = insegnanti;
        loadDocenteMateriaView(materia);
    }

    function onLogInClick(){
        vue.currentView = "login";
        vue.pageTitle = "";
    }

    function logOut(){
        $.get("logOut", {}, function (){
            location.reload();
        });
    }

    function onSignUpClick(){
        location.href = "registrazione.html";
    }

    function authenticate(){
        $.get("authenticate", {}, function (data){
            if(data === '401'){
                vueHeader.userType = "ospite";
            }else{
                let jsonData = JSON.parse(data);
                vueHeader.userEmail = jsonData.email;
                vueHeader.userType = jsonData.type;
            }
        });
    }
</script>
</body>
</html>
