<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ripetizioni</title>
    <link rel="icon" href="icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="styles/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="js/confermaView.js"></script>
    <script type="text/javascript" src="js/docentiView.js"></script>
    <script type="text/javascript" src="js/prenotazioniView.js"></script>
    <script type="text/javascript" src="js/materieView.js"></script>
    <script type="text/javascript" src="js/docenteMateriaView.js"></script>
</head>

<header class="header-fixed">
    <div id="header-wrap" class="header-dark">
        <nav class="header-dark navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container">
                <button class="nav-btn navbar-brand" onclick="changeViewPrenota()">Ripetizioni</button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav form-inline mr-auto">
                        <li class="nav-item" role="presentation"><button class="nav-btn nav-link" onclick="changeViewPrenota()">Prenota</button></li>
                        <li class="nav-item" role="presentation" v-if="userType === 'cliente' || userType === 'amministratore'"><button class="nav-link nav-btn" onclick="changeViewPrenotazioni()">Prenotazioni</button></li>
                        <li class="nav-item" role="presentation" v-if="userType === 'amministratore'"><button class="nav-link nav-btn" onclick="docentiView()" >Docenti</button></li>
                    </ul>
                    <div v-if="userType === 'ospite'">
                        <span class="navbar-text"><button onclick="logIn()" class="login nav-btn nav-link">Log In</button></span>
                        <button class="btn-prenota btn" onclick="onSignUpClick()">Sign Up</button>
                    </div>
                    <div v-if="userType === 'cliente' || userType === 'amministratore'">
                        <span class="navbar-text">{{ userEmail }}</span>
                        <button class="logout-btn btn" onclick="logOut()">LogOut</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

<body>
<div id="app">
    <div class="container">
        <h2 class="page-title">{{ pageTitle }}</h2>
        <div v-if="currentView === 'prenota'" id="prenota">
            <div class="col btn-aggiungi" v-if="vueHeader.userType === 'amministratore'"><button class="btn btn-prenota" onclick="aggiungiMateriaView()">Aggiungi Materia</button></div>
            <ul class="responsive-table" id="lista-materie">
                <li class="table-header">
                    <div class="col">Materia</div>
                    <div class="col mid-col">Insegnanti</div>
                    <div class="col col-3"></div>
                </li>
            </ul>
        </div>
        <div v-if="currentView === 'prenotazioni'" id="prenotazioni">
            <ul class="responsive-table" id="lista-prenotazioni">
                <li class="table-header">
                    <div class="col-margin col col-2">Materia</div>
                    <div class="col-margin col col-2">Insegnante</div>
                    <div class="col-margin col col-2">Data</div>
                    <div class="col-margin col col-2"></div>
                </li>
            </ul>
        </div>

        <div v-if="currentView === 'docente'" id="docenti">
            <div class="col btn-aggiungi" v-if="vueHeader.userType === 'amministratore'"><button class="btn btn-prenota" onclick="aggiungiDocenteView()">Aggiungi Docente</button></div>
            <ul class="responsive-table" id="lista-docenti">
                <li class="table-header">
                    <div class="col">docente</div>
                    <div class="col mid-col">Materie</div>
                    <div class="col col-3"></div>
                </li>
            </ul>
        </div>

        <div class="content container row align-items-stretch justify-content-center no-gutters" v-if="currentView === 'confermaPren'">
<!--            <div class="container row align-items-stretch justify-content-center no-gutters">-->
            <div class="col-md-7 form-prenota">
                <h3 class="text-center">Conferma Prenotazione</h3>
                <form class="mb-5" method="get" id="contactForm conferma-form" name="contactForm" novalidate="novalidate" onsubmit="return validateFormConferma()">
                    <div class="ol-md-12 form-group mb-3">
                        <label class="col-form-label">Materia:</label><br>
                        <label id="confermaViewMateria">{{ materia }}</label>
                    </div>
                    <div class="ol-md-12 form-group mb-3">
                        <label for="selectInsegnante" class="col-form-label" >Insegnante:</label><br>
                        <select id="selectInsegnante" onclick="onConfermaViewClick()">
                            <option value="empty"></option>
                        </select>
                    </div>
                    <div class="ol-md-12 form-group mb-3">
                        <label for="selectGiorno" class="col-form-label" >Giorno:</label><br>
                        <select id="selectGiorno" onclick="onConfermaViewClick()">
                            <option value="empty"></option>
                        </select>
                    </div>
                    <div class="row center-row">
                        <div class="col-md-12 form-group mb-3" id="checkboxes" >
                            <label class="col-form-label">Orario:</label>
                            <ul id="checkOra">
                            </ul>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-5 form-group text-center">
                            <button type=submit value="Prenota" class="btn btn-prenota btn-input">Prenota</button>
                            <span class="submitting"></span>
                        </div>
                    </div>
                    <p id="lbl-state-prenota" class="state-text"></p>
                </form>
<!--                </div>-->
            </div>
        </div>

        <div class="content" v-if="currentView === 'aggiungiMateria'">
            <div class="container row align-items-stretch justify-content-center no-gutters ">
                <div class="col-md-7">
                    <div class="form-prenota">
                        <h3 class="text-center">Aggiungi Materia</h3>
                        <form class="mb-5" method="get" name="contactForm" novalidate="novalidate" onsubmit="return validateFormAggMateria()">
                            <div class="ol-md-12 form-group mb-3">
                                <div class="ol-md-12 form-group mb-3">
                                    <label for="nuovaMateria" class="col-form-label">Materia:</label><br>
                                    <input id="nuovaMateria" type="text"/>
                                </div>
                            </div>
                            <div class="ol-md-12 form-group mb-3">
                                <div class="ol-md-12 form-group mb-3">
                                    <label for="descrizione" class="col-form-label">Descrizione:</label><br>
                                    <textarea id="descrizione" name="story" rows="5" cols="33"></textarea>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-5 form-group text-center">
                                    <button type=submit value="materia" class="btn btn-prenota btn-input">Aggiungi</button>
                                    <span class="submitting"></span>
                                </div>
                            </div>
                            <p id="lbl-state-materia" class="state-text"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content" v-if="currentView === 'aggiungiDocente'">
        <div class="container row align-items-stretch justify-content-center no-gutters ">
            <div class="col-md-7">
                <div class="form-prenota">
                    <h3 class="text-center">Aggiungi Docente</h3>
                    <form class="mb-5" method="get" name="contactForm" novalidate="novalidate" onsubmit="return validateFormAggDocente()">
                        <div class="ol-md-12 form-group mb-3">
                            <div class="ol-md-12 form-group mb-3">
                                <label for="docenteNome" class="col-form-label">Nome:</label><br>
                                <input id="docenteNome" type="text"/>
                            </div>
                        </div>
                        <div class="ol-md-12 form-group mb-3">
                            <div class="ol-md-12 form-group mb-3">
                                <label for="docenteCognome" class="col-form-label">Cognome:</label><br>
                                <input id="docenteCognome" type="text"/>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-5 form-group text-center">
                                <button type=submit value="docente" class="btn btn-prenota btn-input">Aggiungi</button>
<!--                                <input type=submit value="docente" class="btn btn-block btn-primary rounded-0 py-2 px-4" onclick="aggiungiDocenteClick()">-->
                                <span class="submitting"></span>
                            </div>
                        </div>
                        <p id="lbl-state-docente" class="state-text"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="content" v-if="currentView === 'aggiungiDocenteMateria'">
        <div class="container row align-items-stretch justify-content-center no-gutters ">
            <div class="col-md-7">
                <div class="form-prenota">
                    <h3 class="text-center">Inserisci Docente</h3>
                    <form class="mb-5" method="get" name="contactForm" novalidate="novalidate" onsubmit="return validateFormAggDocMat()">
                        <div class="ol-md-12 form-group mb-3">
                            <div class="ol-md-12 form-group mb-3">
                                <label class="col-form-label">Materia:</label><br>
                                <label class="">{{ materia }}</label>
                            </div>
                        </div>
                        <div class="ol-md-12 form-group mb-3">
                            <div class="ol-md-12 form-group mb-3">
                                <label for="selectDocente" class="col-form-label" >Insegnante:</label><br>
                                <select id="selectDocente">
                                    <option value="empty"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-5 form-group text-center">
                                <button type=submit value="matDoc" class="btn btn-prenota btn-input">Aggiungi</button>
<!--                                <input type=submit value="aggiungiDocenteMateria" class="btn btn-block btn-primary rounded-0 py-2 px-4" onclick="aggiungiDocenteMateria()">-->
                                <span class="submitting"></span>
                            </div>
                        </div>
                        <p id="lbl-state-mat-doc" class="state-text"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //TODO: descrizione corso ??

    let vueHeader = new Vue({
        el: '#header-wrap',
        data: {
            userEmail: "",
            userType: "ospite"
        }
    })

    let vue = new Vue({
        el: '#app',
        data: {
            currentView: 'prenota',
            materia: "",
            pageTitle: "Prenota",
            vueHeader: vueHeader
        },
        mounted(){
            // console.log("cookie: " + document.cookie);
            authenticate();

            // if(vueHeader.userType === 'amministratore'){
            //     //pageTitle = "Materie";
            // }//else if(vueHeader.userType === 'ospite'){
            //     console.log("HERE OSPITE")
            //     setMaterieData();
            // }
            //changeViewPrenota();
            //pageTitle = "prenota";
        },
        updated(){
            if(vue.currentView === 'prenota' && vueHeader.userType === 'amministratore'){
                vue.pageTitle = 'Materie';
            }else if(vue.currentView === 'prenota'){
                vue.pageTitle = 'Prenota';
            }else if(vue.currentView === 'docente'){
                loadDocentiViewData();
            }
        }
        // methods: {
        // }
    })

    changeViewPrenota();

    function changeViewPrenota(){
        vue.currentView = "prenota";
        setMaterieData();
    }

    function changeViewPrenotazioni(){
        vue.pageTitle = "Prenotazioni";
        vue.currentView = "prenotazioni";
        getPrenotazioni();
    }

    function aggiungiMateriaView(){
        vue.currentView = 'aggiungiMateria';
    }

    function docentiView(){
        vue.currentView = 'docente';
        vue.pageTitle = 'docenti';
    }

    function aggiungiDocenteView(){
        vue.currentView = "aggiungiDocente";
    }

    function changeDocenteMateriaView(m){
        vue.currentView = "aggiungiDocenteMateria";
        vue.materia = m;
        loadDocenteMateriaView(m);
    }

    function logIn(){
        location.href = "logIn.html";
    }

    function logOut(){
        $.get("logOut", {}, function (){
            location.reload();
        });
    }

    function onSignUpClick(){
        location.href = "logIn.html#signup";
    }

    function authenticate(){
        $.get("authenticate", {}, function (data){
            if(data === 'not authenticated'){
                console.log("not authenticated " + data);
                vueHeader.userType = "ospite";
            }else{
                console.log("authenticated " + data);
                let jsonData = JSON.parse(data);
                console.log("authenticated " + jsonData.email + " " + jsonData.type);
                vueHeader.userEmail = jsonData.email;
                vueHeader.userType = jsonData.type;
            }
        });
    }
</script>
</body>
</html>
