/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

#signUpBody{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cbcbcb;
    font-family: 'Poppins', sans-serif;
}

.container-signUp{
    margin-top: -150px;
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.container-signUp .forms-logIn{
    display: flex;
    align-items: center;
    height: 450px;
    width: 200%;
    transition: height 0.2s ease;
}


.container-signUp .form-logIn{
    width: 100%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container-signUp.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container-signUp .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container-signUp.active .forms-logIn{
    height: 670px;
}

.container-signUp .form-logIn .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form-logIn .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color:#1c7878;
    border-radius: 25px;
}

.label {
    margin-top: 10px;
}

.form-logIn .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 0px;
}

.btnLogIn{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 15px;
    background-color: #24A5A5;
    cursor: pointer;
    transition: all 0.3s ease;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    outline: none;
    font-size: 16px;
    transition: all 0.2s ease;
}


.input-field em{
    margin-left: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ em{
    color: #1c7878;
}

.input-field em.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form-logIn .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin-right: 10px;
    accent-color: #000000;
}

.form-logIn .text{
    color: #333;
    font-size: 14px;
}

.form-logIn a.text{
    color: #1c7878;
    text-decoration: none;
}

.form-logIn a:hover{
    text-decoration: underline;
}

.form-logIn .button-logIn{
    margin-top: 35px;
}

.form-logIn .btnLogIn input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 15px;
    background-color: #239e9e;
    cursor: pointer;
    transition: all 0.3s ease;
}

.state-text {
    color: #a80000;
    margin-top: 5px;
    margin-bottom: -16px;
    font-size: 16px;
    text-align: center;
}

.btnLogIn:hover {
    color: white;
    background-color: #1C7878FF;
}

.btnLogIn:focus {
    outline:none;
    box-shadow: none;
}

.form-logIn .login-signup{
    margin-top: 30px;
    text-align: center;
}
